.icon{
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*谷歌滚动条*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.zQScroll::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: rgba(0,0,0,0);
}
/*定义滚动条的轨道，内阴影及圆角*/
.zQScroll::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
}
/*定义滑块，内阴影及圆角*/
.zQScroll::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #E9E9E9;
    background-color: #E9E9E9;
}
/*谷歌滚动条end*/

/*缩放*/
.scale{
    position: absolute;
    right: 16px;
    bottom: 10px;
    text-align: center;
    z-index: 1;
}
.scale a{
    font-family:'iconfont';
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 4px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.65);
}
.scale a.add{

}
.scale a.reduce{

}
.slider_box{
    position: relative;
    width: 5px;
    height: 200px;
    background: url("../image/tree/mark.png")no-repeat center/100% 100%;
    margin: auto;
}
.slider{
    position: absolute;
    font-family:'iconfont';
    font-size: 12px;
    left: -9px;
    cursor: pointer;
}
/*缩放end*/

/*选择*/
.selection{
    padding-left: 16px;
}
.selection ul li{
    margin-top: 16px;
    cursor:pointer;
}
.selection ul li.all{
    padding-left: 0;
}
.selection ul li:not(.all){
    padding-left: 24px;
}
.selection ul li span{
    vertical-align: middle;
}
.selection ul li span.hook{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 7px;
}
.selection ul li.selected span.hook{
    border: 0;
    width: 14px;
    height: 14px;
    background: url("../image/svgImg/selected.svg")no-repeat left center/14px;
}
.selection ul li span.icon{
    width: 16px;
    height: 16px;
    background: url("../image/tree/icon_pass.png")no-repeat center;
}
.selection ul li.refuse span.icon{
    background-image: url("../image/tree/icon_refuse.png");
}
.selection ul li.review span.icon{
    background-image: url("../image/tree/icon_manpower.png");
}
/*选择end*/

/*下拉框*/
.input_drop_down_box{position: relative;}
.input_drop_down_box input{border: 1px solid #D9D9D9;width: calc(100% - 42px);height: 30px;outline: none;padding: 0 30px 0 10px;color: #000;border-radius: 6px}
.input_drop_down_box span.icon{position: absolute;width: 9px;height: 6px;background:url("../image/menu_down.png")no-repeat center/100%;right: 10px;top: 13px;font-size: 12px}
.input_drop_down_box span.icon.up{transform: rotate(180deg);}
.input_drop_down_box .menu{position: absolute;display:none;z-index:1;top: 36px;width: calc(100% - 2px);max-height:191px;overflow:auto;border: 1px solid #D9D9D9;border-radius: 6px;background-color: #fff;}
.input_drop_down_box .menu span{display: block;padding: 0 10px;color:#666;height: 32px;line-height: 32px;}
.input_drop_down_box .menu span:hover{background-color: rgba(94,151,240,0.1);}
/*下拉框end*/


/*决策树*/
.body_content .body_head{
    height: 47px;
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #d9d9d9;
    padding: 0 17px;
}
.body_content .body_head span{
    display: inline-block;
    margin-top: 13px;
    font-size: 14px;
    color: #666;
}
.body_content .body_head .close{
    display: inline-block;
    height: 10px;
    width: 10px;
    background: url("../image/tree/close.png");
    margin-top: 18px;
}
g.label rect{fill:rgba(0,0,0,0);stroke-width:0;cursor: pointer;}
g.label rect:hover,
g.label rect.active
{fill:rgba(255,255,255,0.6)}
g.link-tools{display: none}

.tree_map_left{
    overflow: hidden;
}
.tree_map_left .export{
    font-family:'iconfont';
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 1;
    width: 100px;
    height: 26px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    line-height: 26px;
    color: #666;
}
.tree_map_left .remove{
    font-family:'iconfont';
    font-size: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    z-index: 2;
    color: #666;
}
.tree_map_left .hint{
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #FFE9A7;
    background-color: #FFFAEB;
    z-index: 1;
    padding-left: 16px;
    border-radius: 5px;
    display: none;
}

.tree_map_left .hint .icon{
    background: url("../image/tree/warm.png")no-repeat;
    margin-right: 8px;
    padding-bottom: 1px;
}
.tree_map_left .hint .close{
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    background: url("../image/tree/close.png") no-repeat center;
    cursor: pointer;
    margin-top: 11px;
    margin-right: 16px;
}
.decision_tree_box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.decision_tree{
    position: absolute;
    width: 100%;
}

.treeOperate{
    position: absolute;
    width: 174px;
    height: 62px;
    padding: 16px;
    background: url("../image/tree/dec_ope_frame.png") no-repeat center/100% 100% content-box;
    transform-origin: left top;
}
.treeOperate a{
    font-family:'iconfont';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../image/tree/close_white.png") no-repeat center/100%;
}
.treeOperate .addEle {
    bottom: 0;
    right: 84px;
    font-size: 15px;
    color: #666666;
}
.treeOperate.can .addEle:hover{
    color: #5E97F0;
}
.treeOperate .onlyAddEle{
    bottom: 0;
    right: 56px;
    font-size: 12px;
    color: #666666;
}
.treeOperate.can .onlyAddEle:hover{
    color: #5E97F0;
}
.treeOperate .addLink{
    bottom: 0;
    right: 21px;
    font-size: 15px;
    color: #666666;
}
.treeOperate.can .addLink:hover{
    color: #5E97F0;
}
.treeOperate .deleteEle{
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 50%;
    background-size: 50%;
}
g.link-tools{display: none}

/*线条弹窗样式*/
.linkOperate {
    position: absolute;
    width: 108px;
    height: 58px;
    padding: 16px;
    background: url("../image/tree/dec_ope_frame.png") no-repeat center/100% 100% content-box;
    transform-origin: left top;
}
.linkOperate a.deleteLink{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red url("../image/tree/close_white.png") no-repeat center/100%;
    border-radius: 50%;
    background-size: 50%;
}
/*线条弹窗样式end*/


/*查看决策树*/
.check_decision_tree .top_msg{
    padding-top: 1px;
}
.check_decision_tree .top_msg>div,
.check_decision_tree .bottom_msg>div{
    margin-top: 24px;
    margin-left: 20px;
}
.check_decision_tree .top_msg label,
.check_decision_tree .bottom_msg label{
    display: inline-block;
    width: 84px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: rgba(0,0,0,0.75);
}
.check_decision_tree .top_msg span,
.check_decision_tree .bottom_msg span{
    color: rgba(0,0,0,0.65);
}

.check_decision_tree .rule_config{
    margin-top: 46px;
    width: calc(100% - 40px);
    margin-left: 20px;
}

.check_decision_tree .decision_tree>div,
.check_decision_tree .decision_tree>svg{
    pointer-events: none;
}
.rule_config>span{
    line-height: 30px;
    font-size: 14px;
    color: rgba(0,0,0,0.75);
}

.check_decision_tree .decision_tree_wrap .tree_pop{
    height: 100%;
}
.check_decision_tree .decision_tree_wrap .tree_pop.pop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}
.check_decision_tree .decision_tree_wrap .tree_pop_content{
    height: 100%;
}
.check_decision_tree .decision_tree_wrap .tree_pop.pop .tree_pop_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
}
.check_decision_tree .decision_tree_wrap .tree_pop_content .close{
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
    border-radius: 50%;
    right: 0;
    top: -26px;
    background: url("../image/close_white.png") no-repeat center;
}

.check_decision_tree .decision_tree_wrap .tree_pop.pop .close{
    display: inline-block;
}
/*查看决策树end*/

/*新增场景*/
.add_decision_tree .operate_decision_tree{
    height: 400px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.add_decision_tree .operate_decision_tree .decision_tree_wrap{
    width: calc(100% - 265px);
    display: inline-block;
    border-radius: 0;
    height: 100%;
    vertical-align: top;
}
.add_decision_tree .operate_decision_tree .right{
    display: inline-block;
    width: 263px;
    margin-left: -4px;
    height: 100%;
    vertical-align: top;
    font-size: 0;
    overflow: hidden;
}

.add_decision_tree .operate_decision_tree .right .rule_set_up,
.add_decision_tree .operate_decision_tree .right .decision_fruit{
    display: none;
    padding: 18px 16px;
}
.add_decision_tree .operate_decision_tree .right .rule_set_up.selected,
.add_decision_tree .operate_decision_tree .right .decision_fruit.selected{
    display: block;
}
.add_decision_tree .operate_decision_tree .right .nav .to_rule_set_up,
.add_decision_tree .operate_decision_tree .right .nav .to_decision_fruit{
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 12px;
    color: rgba(0,0,0,0.65);
    text-align: center;
}
.add_decision_tree .operate_decision_tree .right .nav .to_rule_set_up:hover,
.add_decision_tree .operate_decision_tree .right .nav .to_decision_fruit:hover,
.add_decision_tree .operate_decision_tree .right .nav .to_rule_set_up.selected,
.add_decision_tree .operate_decision_tree .right .nav .to_decision_fruit.selected{
    border-bottom: 1px solid #5E97F0;
    box-shadow: 0 -1px 0 0 #5E97F0 inset;
    color: #5E97F0;
}

.add_decision_tree .body_content .bottom{
    text-align: center;
}
.add_decision_tree .body_content .bottom .next{
    margin: 30px 0;
}



.tabControl_box .rule_edit{
    font-size: 12px;
    border-top: 1px solid #e9e9e9;
    margin: 0 16px;
    padding-top: 8px;
}
.tabControl_box .rule_edit span{
    font-family:'iconfont';
    color: #666;
}

.tabControl_box .rule_edit .edit{
    color: #CCCCCC;
    display: inline-block;
    width: 54px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #e9e9e9;
    text-align: center;
    border-radius: 4px;
}
.tabControl_box .rule_edit .edit.active{
    color:#5E97F0;
}
.tabControl_box .hasRuleMsg{
    overflow: auto;
    width: calc(100% - 32px);
}

.tabControl_box .hasRuleMsg{
    display: none;
    font-size: 12px;
    margin: 18px 16px 0;
}
.tabControl_box .hasRuleMsg .item:first-child .name{
    margin-top: 0;
}
.tabControl_box .noRuleMsg{
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.tabControl_box .noRuleMsg div{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    text-align: center;
}
.tabControl_box .noRuleMsg div span{
    display: inline-block;
    margin-top: 8px;
    color: rgba(0,0,0,0.43);
}
.tabControl_box .hasRuleMsg.active,
.tabControl_box .noRuleMsg.active{
    display: block;
}
.tabControl_box .hasRuleMsg .item{
    color: rgba(0,0,0,0.75);
}
.tabControl_box .hasRuleMsg .item .name{
    color: #999;
    margin-top: 18px;
    margin-bottom: 4px;
    display: inline-block;
}
.tabControl_box .hasRuleMsg .item_use_field p{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    color: #ccc;
    margin: 4px 8px 4px 8px;
}
.tabControl_box .hasRuleMsg .item_use_field p span{
    display: inline-block;
    padding: 0 4px;
    color: rgba(0,0,0,0.65);
}
.tabControl_box .hasRuleMsg .item_strategy .item_item{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: #47C26F;
    background-color: rgba(71,194,11,0.1);
    padding: 0 16px;
    border-radius: 4px;
}
/*新增场景end*/


/*checkDecision*/
.check_decision_body .tree_map_son svg g,
.check_decision_body .tree_map_son_2 svg g{
    pointer-events: none;
}
.check_decision.tree_parent {
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    position: relative;
    height: 425px;
    overflow: hidden;
}
.check_decision .check{
    position: absolute;
    font-family:'iconfont';
    top: 16px;
    right: 16px;
    font-size: 18px;
    color: #000;
    width: 44px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1;
}
.decision_pop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
}
.decision_pop .pop_content{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    overflow: hidden;
}
.decision_pop .pop_content .close{
    position: absolute;
    font-family:'iconfont';
    right: 0;
    top: 0;
    font-size: 24px;
    color: #fff;
}
.decision_pop .tree_map_paernt_2{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body.hasPop .main{
    pointer-events: none;
}
/*checkDecision end*/


/*清空弹窗*/
.zAlert{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64,64,64,0.6);
    z-index: 9;
}
.zAlert .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 322px;
}
.zAlert .content .close{
    width: 12px;
    height: 12px;
    overflow: hidden;
    position: absolute;
    top: 18px;
    right: 18px;
    background: url(../image/close.png) no-repeat;
    transition: 0.5s;
}
.zAlert .content .close:hover{
    transform: rotate(360deg);
}
.zAlert .content p{
    font-size: 14px;
    padding: 48px 0 40px 40px;
}
.zAlert .operate{
    text-align: right;
    border-top: 1px solid #E9E9E9;
    padding: 9px;
}
.zAlert .operate a{
    display: inline-block;
    width: 68px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    background-color: #5E97F0;
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
}
/*清空弹窗end*/

/*决策树end*/